li{
  width: 200px;
  padding: 10px;
  border: 1px solid ;
  border-radius: 10px ;

}
.avatar-wrapper{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
img{
  margin-right: 20px;
}
strong{
  display: block;
  
}
span{
  display: block;
  margin-bottom: 5px;
}